.DS_Store
node_modules
/build
/.svelte-kit
/.vscode
/package
.env
.env.*
/**/*.key
!.env.example
/**/.dev.vars
!/apps/app/.env
!/apps/app/.env.production
/**/.svelte-kit
/**/.turbo
/**/dist
.turbo
/**/.wrangler
TODO.md
